@font-face {
    font-family: 'Grandstander';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(/fonts/google/grandstander/grandstander-v4-latin-regular.eot); /* IE9 Compat Modes */
    src: local(''),
         url(/fonts/google/grandstander/grandstander-v4-latin-regular.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(/fonts/google/grandstander/grandstander-v4-latin-regular.woff2) format('woff2'), /* Super Modern Browsers */
         url(/fonts/google/grandstander/grandstander-v4-latin-regular.woff) format('woff'), /* Modern Browsers */
         url(/fonts/google/grandstander/grandstander-v4-latin-regular.ttf) format('truetype'), /* Safari, Android, iOS */
         url(/fonts/google/grandstander/grandstander-v4-latin-regular.svg#Grandstander) format('svg'); /* Legacy iOS */
     font-display: swap; /* Perf optimization - See https://web.dev/font-display */
     }
     
@font-face {
    font-family: 'Grandstander';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(/fonts/google/grandstander/grandstander-v4-latin-700.eot); /* IE9 Compat Modes */
    src: local(''),
            url(/fonts/google/grandstander/grandstander-v4-latin-700.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
            url(/fonts/google/grandstander/grandstander-v4-latin-700.woff2) format('woff2'), /* Super Modern Browsers */
            url(/fonts/google/grandstander/grandstander-v4-latin-700.woff) format('woff'), /* Modern Browsers */
            url(/fonts/google/grandstander/grandstander-v4-latin-700.ttf) format('truetype'), /* Safari, Android, iOS */
            url(/fonts/google/grandstander/grandstander-v4-latin-700.svg#Grandstander) format('svg'); /* Legacy iOS */
    font-display: swap; /* Perf optimization - See https://web.dev/font-display */
    }