@font-face {
     font-family: 'Merriweather Sans';
     font-style: normal;
     font-weight: 400;
     src: url(merriweather-sans-v13-latin-regular.eot); /* IE9 Compat Modes */
     src: local(''),
          url(merriweather-sans-v13-latin-regular.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
          url(merriweather-sans-v13-latin-regular.woff2) format('woff2'), /* Super Modern Browsers */
          url(merriweather-sans-v13-latin-regular.woff) format('woff'), /* Modern Browsers */
          url(merriweather-sans-v13-latin-regular.ttf) format('truetype'), /* Safari, Android, iOS */
          url(merriweather-sans-v13-latin-regular.svg#MerriweatherSans) format('svg'); /* Legacy iOS */
     font-display: swap;  /* Perf optimization - See https://web.dev/font-display */
   }
   
@font-face {
     font-family: 'Merriweather Sans';
     font-style: normal;
     font-weight: 700;
     src: url(merriweather-sans-v13-latin-700.eot); /* IE9 Compat Modes */
     src: local(''),
          url(merriweather-sans-v13-latin-700.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
          url(merriweather-sans-v13-latin-700.woff2) format('woff2'), /* Super Modern Browsers */
          url(merriweather-sans-v13-latin-700.woff) format('woff'), /* Modern Browsers */
          url(merriweather-sans-v13-latin-700.ttf) format('truetype'), /* Safari, Android, iOS */
          url(merriweather-sans-v13-latin-700.svg#MerriweatherSans) format('svg'); /* Legacy iOS */
     font-display: swap; /* Perf optimization - See https://web.dev/font-display */
}